#facility{data: { id: @facility.id }}
  .info
    %h1.title= "Welcome to #{@facility.name}"
    %h2= 'Please scan the code to log attendance.'
  .qr-code!= @qr_svg
#thanks
  %h1.title Thanks for visiting
  %h1.name Veselin Stoyanov
